config.json
config/autoplaylist.txt
config/blacklist.txt
config/example_options.ini
config/example_permissions - Copy.ini
config/options.ini
config/permissions.ini
config/whitelist.txt
node_modules
pm2-script.bat
pm2-stop.bat